body {
  margin: 0;
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: greenyellow;
  overflow: hidden;
  background-color: lightgray;
}

hr {
  border-color: greenyellow;
  margin-top: 20px;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  margin: 5px;
}

p {
  font-size: 20px;
}

select {
  width: 250px;
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: greenyellow;
  background-color: inherit;
  border-style: solid;
  border-width: thin;
  border-color: inherit;
  letter-spacing: 5px;
  appearance: block;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}

option {
  color: greenyellow;
  background-color: black;
  font-family: 'VT323', monospace;
  font-size: 24px;
  letter-spacing: 5px;
}

#whiteBox {
  width: 20%;
  height: 20%;
  background-color: white;
  position: absolute;
  bottom: 10%;
  left: 10%;
  border-style: solid;
  border-color: greenyellow;
  border-width: thin;
  text-align: center;
}

#blackBox {
  width: 20%;
  height: 20%;
  position: absolute;
  bottom: 10%;
  left: 10%;
  border-style: solid;
  border-color: greenyellow;
  border-width: thin;
  text-align: center;
}

#instructions {
  text-align: justify;
  font-size: 23px;
}

#pre-duel {
  background-color: none;
  width: 40%;
  height: 45%;
  position: absolute;
  bottom: 10%;
  right: 10%;
  text-align: center;
}

.bow {
  display: none;
  position: relative;
}

.start {
  display: none;
}

#startMenu {
  width: 50%;
  height: 70%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 10%;
  padding: 40px;
}

#recap {
  position: absolute;
  top: 12%;
  left: 2%;
  width: 90%;
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

#player {
  width: 50%;
  height: 70%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 10%;
  padding: 40px;
}

#endGameLoser {
  width: 50%;
  height: 70%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 10%;
  padding: 40px;
  text-align: center;
  display: none;
}

#endGameWinner {
  width: 50%;
  height: 70%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 10%;
  padding: 40px;
  text-align: center;
  display: none;
}

#blackScreen {
  width: 50%;
  height: 70%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 10%;
  padding: 40px;
  text-align: center;
  display: none;
}

.ascii {
  font-size: 12px;
  line-height: 15px;
}

#startAgain {
  position: absolute;
  left: 38%;
  bottom: 5%;
  width: 200px;
}

#startAgainDark {
  font-size: 70px;
  position: absolute;
  left: 25%;
  bottom: 42%;
  width: 400px;
  height: 100px;
  border-color: black;
  color: black;
}

#computer {
  position: absolute;
  top: 35%;
  left: 15%;
  font-size: 8px;
}

#computer2 {
  position: absolute;
  top: 35%;
  right: 19%;
  font-size: 8px;
}

#commandBoard {
  width: 100%;
  display: inline-block;
}

#spells {
  background-color: grey;
  width: 50%;
}

#counterSpells {
  background-color: grey;
  width: 50%;
}

#log {
  height: 75%;
  width: 90%;
  position: absolute;
}

#hp {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px;
}

#playerLifeBar {
  background-color: white;
  width: 30%;
  height: 2%;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  left: 10%;
  top: 10%;
}

#playerLife {
  width: 100%;
  height: 100%;
  background-color: greenyellow;
}

#opponent {
  width: 25%;
  height: 40%;
  background-color: magenta;
  position: absolute;
  top: 15%;
  left: 55%;
  text-align: right;
}

#opponentLifeBar {
  background-color: white;
  width: 15%;
  height: 1.5%;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  left: 55%;
  top: 8%;
}

.lifeBarText {
  color: black;
  margin-top: 2%;
}

#opponentLife {
  width: 100%;
  height: 100%;
  background-color: magenta;
}

#lightningP1 {
  position: absolute;
  top: -50%;
  right: -5%;
}

#lightningO1 {
  position: absolute;
  top: -50%;
  right: -8%;
}

button {
  width: 100px;
  margin-right: 8px;
  border-style: solid;
  border-width: thin;
  border-color: inherit;
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: greenyellow;
  background-color: inherit;
}

button:hover {
  background-color: greenyellow;
  color: black;
}

/* Dropdown Button */
.dropbtn {
  padding: 10px;
  width: 200px;
  margin-right: 8px;
  border-style: solid;
  border-width: thin;
  border-color: inherit;
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: greenyellow;
  background-color: inherit;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  font-family: 'VT323', monospace;
  font-size: 22px;
  background-color: black;
  color: greenyellow;
  padding: 6px 10px;
  text-decoration: none;
  width: 330px;
  border-style: none;
  text-align: left;
  display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: greenyellow;
  color: black;
  font-family: 'VT323', monospace;
  font-size: 22px;
  padding: 6px 10px;
  text-decoration: none;
  width: 330px;
  border-style: none;
  border-radius: 0px;
  text-align: left;
  display: inline-block;
}

.dropdown-content button:focus {
  background-color: greenyellow;
  color: black;
  font-family: 'VT323', monospace;
  font-size: 22px;
  padding: 6px 10px;
  text-decoration: none;
  width: 330px;
  border-style: none;
  border-radius: 0px;
  text-align: left;
  display: inline-block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: greenyellow;
  color: black;
}

.dropdown:hover .content-info {
  display: inline-block;
  margin-left: 2%;
}

.dropdown-info {
  display: none;
  position: absolute;
  left: 120px;
  background-color: black;
  padding: 10px;
  color: greenyellow;
  border-style: solid;
  border-color: greenyellow;
  border-width: thin;
  width: 150px;
  z-index: 2;
}

.content-info:hover {
  color: greenyellow;
}

.content-info:hover .dropdown-info {
  display: block;
}