body {
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: Courier, monospace;
  font-style: oblique;
  font-size: 12px;
  padding: 30px;
  text-align: justify;
  line-height: 20px;
}

.redacted {
  background-color: black;
  color: transparent;
  user-select: none;
}

.revealed {
  background-color: transparent;
  color: red;
}

.secretReported {
  font-family: Arial, monospace;
  font-size: 16px;
}

.secretReportedCounter {
  font-family: Arial, monospace;
  font-size: 16px;
}

.found {
  color: white;
  user-select: none;
}